body {
    background: rgb(202, 202, 202);
}

.principal {
    background-color: gray;
    border: solid 4px white;
    border-radius: 5px;
}

.img {
    background: white;
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.rou {
    border: solid 4px gray;
}

.bg {
    border: solid 10px white;
    /*border-radius: 5px;*/
}

.bg2 {
    background: white;
}

.boton {
    background-color: rgb(42, 182, 42);
    color: white;
    text-decoration: none;
    border: solid 4px rgb(42, 182, 42);
    border-radius: 5px;
}

.bg3 {
    background: white;
    height: 100px;
}

.feria {
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin: 20px 0;
    min-height: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: all 400ms;
}

.feria:hover {
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(5px);
}